<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <title>Admin - Coin관리</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <img  width="5%" src="../images/logo/manager.png">
        <a style="margin-left: 1%"  class="navbar-brand mr-1" href="/manager/member">Coin Project</a>
      <!-- <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button> -->
    </nav>
    <% include leftMenuBar %>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-money"></i>
              Coin 관리</div>

                                      <!-- coinProduct.create({round: req.body.round, coin_name: req.body.coinName,
        price: req.body.price,
        total_count: req.body.amount, -->
            
        
        <div class="card-body">
              <div class="table-responsive">
                <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>차수</th>
                        <th>coin종류</th>
                        <th>IEO가격</th>
                        <th>판매수량</th>
                        <th>발행</th>
                    </tr>
                  </thead>
                  <tbody>
                    <form action="/product/pluCoinCreation" method="POST">
                        <td><input type="number" name="round"></td>
                        <td>PLU</td>
                        <td><input type="number" name="price"></td>
                        <td><input type="number" name="amount"></td>
                        <td><input type="submit" value="발행"></td>
                    </form>
                  </tbody>
                  <tbody>
                      <form action="/product/toxiCoinCreation" method="POST">
                          <td><input type="number" name="round"></td>
                          <td>TOXI</td>
                          <td><input type="number" name="price"></td>
                          <td><input type="number" name="amount"></td>
                          <td><input type="submit" value="발행"></td>
                      </form>
                    </tbody>
                </table> -->

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                          <th>차수</th>
                          <th>coin종류</th>
                          <th>IEO가격</th>
                          <th>발행량</th>
                          <th>판매수량</th>
                      </tr>
                    </thead>
                    <% for(var i=0; i<currentData.length; i++) { %>
                    <tbody>
                        <td><%= currentData[i].round %></td>
                        <td><%= currentData[i].coin_name %></td>
                        <td><%= currentData[i].price %></td>
                        <td><%= currentData[i].total_count %></td>
                        <td><%= currentData[i].selling_count %></td>
                    </tbody>
                    <% } %>
                  </table>
                  
              </div>
            </div>
            <!-- <div class="card-footer small text-muted">Updated at <%= moment().format('MMMM Do YYYY, a h:mm:ss'); %></div> -->
          </div>

        </div>
        <!-- /.container-fluid -->


        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-money"></i>발행량 관리</div>
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                          <th>차수</th>
                          <th>coin종류</th>
                          <th>판매수량</th>
                          <th>기존 발행량</th>
                          <th>발행량</th>           
                      </tr>
                    </thead>
                    <% for(var i=0; i<currentData.length; i++) { %>
                    <tbody>
                        <td><%= currentData[i].round %></td>
                        <td id=<%= "coinSort" + currentData[i].coin_name %>><%= currentData[i].coin_name %></td>
                        <td><%= currentData[i].selling_count %></td>
                        <td><%= currentData[i].total_count %></td>
                        <form action="/manager/coinAmountUpdate" method="POST" id = <%= "coinAmoutChangeAction" + currentData[i].coin_name %>>
                        <td><input type="number" name=<%= currentData[i].coin_name %> id=<%= "coinAmount" + currentData[i].coin_name %>><input type="button" id=<%= "coinAmoutChange" + currentData[i].coin_name %> value="확인"></td>
                        </form>
                    </tbody>
                    <% } %>
                  </table>
                  
              </div>
            </div>
            <!-- <div class="card-footer small text-muted">Updated at <%= moment().format('MMMM Do YYYY, a h:mm:ss'); %></div> -->
          </div>

        </div>

        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-money"></i>
              목표 회원 수  관리</div>
              
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                          <th>기존 목표 회원 수</th>
                          <th>목표 회원 수</th>
                      </tr>
                    </thead>
                    <tbody>
                        <form action="/product/toxiCoinCreation" method="POST" id ="frm">
                        <td id="userNUM">1000000</td>
                        <td><input type="number" id="changeNumber"><input id="userCheck" type="button" value="확인"></td>
                      </form>
                    </tbody>
                  </table>
                  
              </div>
            </div>
            <div class="card-footer small text-muted">Updated at <%= moment().format('MMMM Do YYYY, a h:mm:ss'); %></div>
          </div>

        </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button  class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
  </body>

</html>
<script>
    $(document).ready(function () {
        $("#wrapper li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#coinmenu').addClass('active');

        $("#userCheck").click(function(){
          $.post('/manager/memberCheck', {changeUserInfo: $('#changeNumber').val()}, function(data, status) {
            if(data.result) {
              document.getElementById('frm').submit();
            } else {
              alert("기존 회원의 수보다 적게 입력하셨습니다.");
            }
          });
        });

        $("#coinAmoutChangeTOXI").click(function() {
          $.post('/manager/coinCheck', {coinName: $('#coinSortTOXI').text(), coinAmount: $('#coinAmountTOXI').val()}, function(data, status) {
            if(data.result) {
              document.getElementById('coinAmoutChangeActionTOXI').submit();
            } else {
              alert("판매량보다 발행량이 적습니다.");
            }
          });
        });
        
        $("#coinAmoutChangePLU").click(function() {
          $.post('/manager/coinCheck', {coinName: $('#coinSortPLU').text(), coinAmount: $('#coinAmountPLU').val()}, function(data, status) {
            if(data.result) {
              document.getElementById('coinAmoutChangeActionPLU').submit();
            } else {
              alert("판매량보다 발행량이 적습니다.");
            }
          });
        });
    });
</script>