<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - 회원정보</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->


    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <img  width="5%" src="../images/logo/manager.png">
      <a style="margin-left: 1%"  class="navbar-brand mr-1" href="/manager/member">Coin Project</a>
      <!-- <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button> -->
    </nav>
    <% include leftMenuBar %>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-fw fa-users"></i>
              회원목록</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>회원넘버</th>
                      <th>이름</th>
                      <th>아이디</th>
                      <th>전화번호</th>
                      <th>PLU 수량</th>
                      <th>TOXI 수량</th>
                    </tr>
                  </thead>
      
                  <tbody>
                  <!--TODO: 주용- 해당 데이터 제대로 삽입 (title value에 맞는 데이터 삽입 )-->
                      <% for (var i = 0; i < member.length; i++) { %>
                        <tr>
                          <td><a onmouseover="detail(<%=i%>)" id ="element<%=i%>" tabindex="<%=i%>"  data-trigger="focus"
                                 title="
                                        <table>
                                          <thead>
                                            <tr>
                                              <th>주문</th>
                                              <th>수량</th>
                                              <th>종류</th>
                                              <th>상태</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                              <% for (var j = 0; j < member[i].buy_info.length; j++) { %>
                                              <tr>
                                                <!-- <td><%= member[i].buy_info[j] %></td> -->
                                                <td><%= (j+1) %></td>
                                                <td><%= member[i].buy_info[j].buy_count %></td>
                                                <td><%= member[i].buy_info[j].coin_name %></td>
                                                <% if(member[i].buy_info[j].buy_state == true) { %>
                                                  <td>입금완료</td>
                                                <% } else { %>
                                                  <td>입금대기</td>
                                                <% } %>
                                              </tr>
                                              <% } %>
                                          </tbody>
                                      </table>">
                            <%= member[i].sequence %></a></td>
                            <td><%= member[i].name %></td>
                            <td><%= member[i].username %></td>
                            <!-- 클릭시  member[i].phone이 출력되어야함-->
                            <td><a onmouseover="phoneDetail(<%=[i]%>)" id ="phonelement<%=i%>" tabindex="<%=i%>"  data-trigger="focus"
                              title="<%= member[i].phone %>"</a><%= userNumbers[i]%></td>
                            <td><%= member[i].my_PLU + "개" %></td>
                            <td><%= member[i].my_TOXI + "개" %></td>
                        </tr>
                        <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated at <%= moment().format('MMMM Do YYYY, a h:mm:ss'); %></div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
  </body>

</html>
<script>
  $(document).ready(function () {
    $("#wrapper li").removeClass("active");//this will remove the active class from
    //previously active menu item
    $('#member').addClass('active');
  });

  // $('#element2').popover('show');

  function detail(index) {
    $('#element'+index).tooltip({placement: "bottom", html: true})
    // $('#element'+index).popover('show')
  }

  function phoneDetail(index) {
    $('#phonelement'+index).tooltip({placement: "bottom", html: true})
    // $('#element'+index).popover('show')
  }
</script>