
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="main_page">
    <meta name="author" content="jungee">
    <title>COIN PLACE</title>
    <link rel="shortcut icon" type="image/png" href="../images/logo/favicon.png"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <!--<link href="../stylesheets/hover-effect.css" rel="stylesheet">-->
    <link href="../stylesheets/tab.css" rel="stylesheet">
    <link href="../stylesheets/saledetail.css" rel="stylesheet">
    <link href="../stylesheets/button.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
    <!--<link href="../stylesheets/main_coin.css" rel="stylesheet">-->
    <script href="../javascript/main-page.js" ></script>
</head>
<body ng-app="scotchApp">


<!-- 1. 첫 페이지 -->
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                <a  href="/"><img style="width: 80%" src="../images/logo/contents_mainlogo.png"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><img style="width: 35%; margin-right: 8%" src="../images/logo/contents_mainloginicon.png"><a href="/account/signin">로그인</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
</header>
<div style="margin-top:5%">
    <div class="row" >
        <div class="col-xs-12 col-md-8">
            <div style="background: #ffffff">

                            <div class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_default_1" data-toggle="tab">
                                                원화로 구매 </a>
                                       </li>
                                        <li>
                                            <a href="#tab_default_2" data-toggle="tab">
                                                ETH로 구매 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_default_3" data-toggle="tab">
                                                BTC로 구매 </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_default_1">
                                            <div style="background: rgba(66,160,246,0.49); height: 50px" class="text-center">
                                                <p style="color: #991108; padding-top: 2%"><b>1TOXI = 100원</b></p>
                                            </div>
                                        </div>
                                        <!-- <form method="POST" action="/product/toxiPurchase" class="form-horizontal" style="margin-top: 5%"></form> -->
                                        <!-- <form method="POST" class="form-horizontal" style="margin-top: 5%"> -->
                                        <div class="form-horizontal" style="margin-top: 5%">
                                            <div class="form-group">
                                                <label for="inputEmail3" name="buy_count" class="col-sm-2 control-label">주문 수량</label>
                                                <div class="col-sm-10">
                                                    <input  style="width: 50%" type="number" class="form-control" id ="num" placeholder="직접 입력" min="1" value="1">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <label  class="col-sm-2 control-label">주문 총액</label>
                                                <div class="col-sm-10">
                                                    <input style="width: 50%" class="form-control" id ="result" type="number" value="100" readonly>
                                                </div>
                                            </div>
                                            <div class="well">
                                                <p><b>투자의 위험성과 투자자 보호</b><br><br>
                                                코인플레이스는 투자자의 자산 보호를 위해 해당 프로젝트의 사정으로 인해 공식 토큰 배부(또는 활성화)가 이루어지지 않게 되는 경우를 제외하고는 구매하실 때,
                                                    사용하신 암호화폐에 대해서는 환불이 불가능합니다. 이때 발생하는 시세차익 등으로 인한 이익, 손실은 투자자 본인에게 귀속됩니다.
                                                </p>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="check_1"> 유의사항을 모두 읽고 동의합니다.
                                                </label>
                                            </div>
                                            <div class="form-group" style="margin-top: 3%" >
                                                <div>
                                                    <button id="purchaseButton" class="btn btn-default blue center-block" >구매하기</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </form> -->

                                        <div class="tab-pane" id="tab_default_2">

                                        </div>
                                        <div class="tab-pane" id="tab_default_3">

                                        </div>
                                    </div>
                                </div>
                            </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-4" >
            <div class="well" style="height: 500px">
                <h3>구매내역</h3>
                <table class="table">
                    <tr>
                        <th>
                            구매일시
                        </th>
                        <th>
                            종류
                        </th>
                        <th>
                            금액
                        </th>
                        <th>
                            처리상태
                        </th>
                        <th>
                            입금계좌
                        </th>
                        <th>

                        </th>
                    </tr>
                    <% for(var i=0; i<buyInfo.length; i++) { %>
                        <tr>  
                            <!-- <td><%= moment(buyInfo[i].buy_date).format('YYYY-MM-DD hh:mm:ss') %></td> -->
                            <td><%= moment(buyInfo[i].buy_date).format('YYYY-MM-DD hh:mm') %></td>
                            <td><%= buyInfo[i].coin_name %></td>
                            <td><%= buyInfo[i].price * buyInfo[i].buy_count %></td>
                            <!-- <td><%= buyInfo[i].buy_state %></td> -->
                            <td>입금대기</td>
                            <td>
                                    <form onSubmit="if(!confirm('구매 취소하시겠습니까?')){return false;}" action="/manager/depositDelete/<%=buyInfo[i]._id%>" method="POST">
                                        <button class="btn btn-default orange" type="submit">취소</button>
                                    </form>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div></div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            </div>
            <div class="modal-body text-center" >
                <h4>감사합니다. 구매 신청 되었습니다.<br>
                    입금 확인 후 완료됩니다.</h4>
                <div>
                    <p id="coin_num">수량 : </p>
                    <p id="total_price">총액: </p>
                    <p id="coin_user">구매자: </p>
                <div>

                    <h4>ㅁㅁ 은행  111-11111-1111</h4>
                    <h4>예금주 코인플레이스</h4>
                <br>
                <h5>(입금계좌 및 금액을 정확히 확인 바랍니다)</h5>
                <p>가입시 입력한 이름과 입금자명이 동일해야 합니다<br>
                    신청 후 24시간 안에 입금내역이 확인이 되지 않으면 자동으로 취소가 됩니다<br>
                    입금확인이 되면 구매내역에서 확인이 가능합니다<br>
                    보이스 피싱 방지를 위하여 잘못된 명의로 입금은 거래소 오픈후 처리 됩니다.
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">입금완료</button>
            </div>
        </div>
    </div>
</div>

<section id="footer">
    <div class="container">
        <p style="color: #ffffff">이용 약관 &nbsp; |&nbsp;  개인정보 취급 방침 &nbsp; |&nbsp;  이용문의(이메일) </p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <p style="color: #ffffff">주식회사 : 코인플레이스  &nbsp; &nbsp; 사업자등록번호: 423-87-01260  &nbsp; &nbsp; 대표: 권진성부산광역시 해운대구 센텀중앙로 48 , 7층 </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <p style="color: #ffffff">대표번호 : 1577-2067  &nbsp; &nbsp; 상장 및 제휴문의: support@Coinplace.com </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <p style="color: #ffffff">Copyright © 2019 Coinplace. ALL RIGHT RESERVED</p>
            </div>
        </div>

    </div>
</section>
</body>
</html>

<script>
$(document).ready(function(){
    //  구매 수량 확인 
    $(purchaseButton).click(function(){
        if(document.getElementById("check_1").checked) {
            if($(num).val()<=0) {
                alert("구매 수량을 확인해 주세요.");
            } else {
                var queries = {};
                $.each(document.location.search.substr(1).split('&'),function(c,q){
                var i = q.split('=');
                queries[i[0].toString()] = i[1].toString();
                });
                console.log(queries.coin);
                $.post("/product/coinCheck", {coin: queries.coin, quantity: $(num).val()}, function(data, status){
                    if(data.result == true) {
                        console.log("Data: " + data.result + ", Statue: " + status);
                        $.post("/product/coinPurchase", {coin: queries.coin, buy_count: $(num).val()}, function(coinData, coinStatus) {
                            if(coinData.result == true) {
                    //             <li id="coin_num">수량 : </li>
                    // <li id="total_price">총액: </li>
                    // <li id="coin_user">구매자: </li>
                            // $(coin_user).val(req.user.);
                                $('#coin_num').val($(num).val());
                                $('total_price').val($(num).val()*100);
                                $('#coin_user').val("HELLO");
                                $('#myModal').modal('show');
                            } else {
                                alert("구매에 실패했습니다. 고객센터에 문의해주세요.");
                            }
                            
                        });
                    } else {
                        alert("수량이 부족하여 구매하실 수 없습니다.");
                    }
                });
            }
        } else {
            alert("유의사항에 동의하셔야 합니다.");
        }
    });
    
    //  가격 갱신 기능
    $('#num').keyup(function(){
        $("#result").val($(num).val()*100);
    });
});
</script>
